.bio {
    width: 100%;
}

.introduction-container {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.introduction {
    margin: auto;
    width: 90%;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 145%;
}

.description {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

@media screen and (min-width: 1000px) {
    .introduction {
        width: 65%;
        min-width: 400px;
    }
}