.languages-stack-container {
    border-bottom: thin solid gray;
}

.languages-container {
    width: 100%;
    text-align: center;
}

.languages-title {
    text-align: center;
}

.stack-container {
    width: 100%;
    text-align: center;
}

.icon-container > img {
    width: 90px;
    max-height: 100px;
}

.icon-container {
    display: inline-block;
    width: 16%;
    padding: 20px;
}

@media screen and (max-width: 560px) {
    .icon-container {
        width: 100%;
    }
}

@media only screen 
  and (min-width: 500px) 
  and (max-width: 1024px) {
    .html, .css, .javascript {
        width: 33%;
    }
    .typescript, .node, .react, .react-native {
        width: 50%;
    }
  }