.languages-container {
    width: 100%;
    text-align: center;
}

.languages-title {
    text-align: center;
}

.svg-container {
    display: inline-block;
    width: 16%;
    padding: 20px;
}

svg {
    width: 100%;
    color: black;
    max-height: 100px;
}

@media screen and (max-width: 560px) {
    .svg-container {
        width: 33%;
    }
}

/* @media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
    .office {
        width: 33%;
    }
  } */