.projects-container {
    width: 100%;
}

.projects-title {
    text-align: center;
}

.project-title {
    text-align: center;
}

.project-title > h2 {
    font-size: 30px;
    margin: 0 0 15px 0;
}

.politikos-container {
    padding: 50px 3% 20px;
    width: 100%;
    text-align: center;
    border-bottom: thin solid gray;
}

.politikosImage-container {
    position: relative;
    display: inline-block;
    width: 65%;
    margin-right: 5%;
}

.politikos-title {
    width: 100%;
    position: absolute;
    top: 0;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 102px;
    font-weight: bold;
    color: gray;
    mix-blend-mode: difference;
}

.politikos-subtitle {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 40px;
    font-weight: bold;
    color: gray;
    mix-blend-mode: difference;
}

.politikosImage-container > img {
    display: inline-block;
    width: 70%;
}

.politikos-img {
    margin: auto;
    width: 100%;
    height: 100%;
}

.politikos-description {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px;
    text-align: left;
}

.whether-container {
    padding: 50px 3% 20px;
    width: 100%;
    text-align: center;
    border-bottom: thin solid gray;
}

.whetherImage-container {
    display: inline-block;
    width: 70%;
}

.whether-img {
    margin: auto;
    width: 100%;
    height: 100%;
}

.whether-description {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px;
    text-align: left;
}

.war-container {
    padding: 50px 3% 20px;
    width: 100%;
    text-align: center;
    border-bottom: thin solid gray;
}

.warImage-container {
    display: inline-block;
    width: 70%;
}

.war-img {
    margin: auto;
    width: 100%;
    height: 100%;
}

.war-description {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px;
    text-align: left;
}

.skills-used {
    font-size: 13px;
    font-style: italic;
}

@media screen and (max-width: 900px) {
    .politikosImage-container {
        display: block;
        width: 100%;
    }

    .politikos-description {
        display: block;
        width: 100%;
    }

    .politikos-title {
        font-size: 50px;
    }

    .politikos-subtitle {
        font-size: 25px;
    }
    
    .whetherImage-container {
        display: inline-block;
        width: 70%;
    }

    .whether-description {
        display: block;
        width: 100%;
    }

    .warImage-container {
        display: block;
        width: 100%;
    }

    .war-description {
        display: block;
        width: 100%;
    }
}