.projects-container {
    width: 100%;
}

.projects-title {
    text-align: center;
}

.politikos-container {
    padding: 50px 0;
    width: 100%;
    text-align: center;
    border-bottom: thick solid gray;
}

.politikosImage-container {
    position: relative;
    display: inline-block;
    width: 70%;
}

.politikos-title {
    width: 100%;
    position: absolute;
    top: 0;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 110px;
    font-weight: bold;
    color: gray;
    mix-blend-mode: difference;
}

.politikos-subtitle {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 40px;
    font-weight: bold;
    color: gray;
    mix-blend-mode: difference;
}

.politikosImage-container > img {
    width: 100%;
}

.politikos-img {
    margin: auto;
    background-color: brown;
    height: 200px;
    width: 200px;
}

.politikos-description {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.whether-container {
    padding: 50px 0;
    width: 100%;
    text-align: center;
}

.whetherImage-container {
    display: inline-block;
    width: 70%;
}

.whether-img {
    margin: auto;
    width: 100%;
    height: 100%;
}

.whether-description {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

@media screen and (max-width: 900px) {
    .politikosImage-container {
        display: block;
        width: 100%;
    }

    .politikos-description {
        display: block;
        margin: auto;
        width: 75%;
    }

    .politikos-title {
        font-size: 50px;
    }

    .politikos-subtitle {
        font-size: 25px;
    }
    
    .whetherImage-container {
        display: inline-block;
        width: 70%;
    }

    .whether-description {
        display: block;
        margin: auto;
        width: 75%;
    }
}