.display {
    position: relative;
    height: 300px;
}

.socrates {
    font-size: 20px;
    text-align: center;
    color: lightgray;
}

.image-container {
    height: 100%;
    width: 100%;
    background-image: url(../../assets/images/PortfolioBanner.PNG);
    background-size: cover;
}

.max {
    height: 100%;
    border-radius: 50%;
}