.App {
  position: relative;
}

.App > img {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 75px;
  z-index: -4;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@media screen and (max-width: 450px) {
  .App > img {
    min-width: 250px;
}
}