.App {
  position: relative;
  font-family: 'Chonburi', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App > img {
  position: absolute;
  width: 100%;
  min-height: 300px;
  max-height: 450px;
  top: 90px;
  z-index: -4;
}


/* @keyframes Background-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}